.tiny5-regular {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

*{
    padding: 0;
    margin: 0;
}

.container{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board{
    width: 80vmin;
    height: 80vmin;
    border:solid;
    border-color:white;
    display:grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
    position:absolute;
}

.head{
    background-color: red;
}

.snake{
    background-color: purple;
}

.food{
    background-color: yellow;
}

#score{
    font-family: "Tiny5";
    color:white;
    font-size:50px;
    position:absolute;
    top:10px;
    
}

#over{
    font-family: "Tiny5";
    color:white;
    font-size:100px;
    position:absolute;

    
}

.red{
    color:red;
}
